$color-html: hsl(15, 100%, 60%);
$porcent-html: 95;
@function strokeDashoffset($num) {
  @return 440 - (440 * $num) / 100;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  transform: translate(5px, 5px); // stroke-width / 2
}
.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: hsl(0, 0%, 100%);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

.shadow-html {
  filter: drop-shadow(0 0 5px $color-html);
}

.circle-html{
  animation: anim_circle-html 2s ease-in-out 1.15s forwards;
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-html);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 126, 94, 0.932) 17.8%,
    rgba(196, 2, 255, 0.795) 100.2%
  );
  
}

.main {
  margin: 10px;
  flex: 0.9 1 auto;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 126, 94, 0.932) 17.8%,
    rgba(196, 2, 255, 0.795) 100.2%
  );
  border-radius: 10px;
  box-shadow: 8px 11px 20px 8px #0202028c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0d204b;
  animation: mainAnim 1s ease 0s 1 normal both;
}
@keyframes mainAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.heading {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* padding: 0px; */
    box-shadow: 6px 3px 9px rgb(28 26 28 / 18%);
    transition: all 0.3s ease-in-out;
}

h1 {
  text-shadow: 1px 2px 10px rgb(116, 39, 39);
}
h1,
h2 {
    text-decoration: underline;
}

.intro {
    font-size: 20px;
}
/* TODO: show current % progress on flex expansion */
.content {
  flex: 1;
  display: flex;
  padding: 32px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  animation: contentAnim 1s ease 0.15s 1 normal both;
}

@keyframes contentAnim {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 5px 5px 18px #12111261;

  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.card {
  flex: 1 1 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  text-align: center;
  height: 350px;
  text-shadow: 5px 5px 10px rgb(51, 20, 63);
  opacity: 0.7;
  border: 1px solid rgb(36, 35, 35);
  box-shadow: -2px 2px 10px #4d264be7;
  border-radius: 4px;
  transition: all 0.4s ease-in-out, color 0.1s 0s ease-in-out;
}

.card:hover {
  box-shadow: 2px 3px 15px rgba(77, 38, 75, 0.904);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 126, 94, 0.932) 17.8%,
    rgba(196, 2, 255, 0.795) 100.2%
  );

  opacity: 1;
  color: rgb(13, 32, 75);
  text-shadow: 10px 10px 10px rgb(20, 23, 37);
}

/* increases box size on hover */
.skills:hover:hover,
.projects:hover,
.certification:hover {
  flex: 2 1 0;
}

p {
  margin: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: rgba(48, 58, 63, 0.925);
}

//   div.socials:hover{
//       box-shadow: 10px -3px 15px #433244;

//   }

//   .socials:hover, .heading:hover{
//       font-size: large;
//       text-decoration: underline;
//       flex: 1;
//       padding: 10px;
//       box-shadow: 4px 3px 5px #1b1a1b93;
//       border-bottom: none;

//   }
