.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  height: 100%;
  position: relative;
}

#about > h2 {
  color: var(--color-primary);
}

.about_me {
  width: 100%;
  /* ensures the height is the same as the width */
  aspect-ratio: 1/1;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
}

.about_me_image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about_me_image:hover{
    transform: rotate(0deg);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
  text-align: center;
  background: var(--bg-color-gradient-nav);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 2rem;
  transition: var(--transition)
}

.about__card:hover{
  background: transparent;
  border-color: var(--bg-color-variant);
}

.about_card_icon{
  font-size: 1.5rem;
  color: var(--bg-color-primary);
  margin-bottom: 1rem;
}

.about__card h3{
  font-size: 1rem;
  color: white;
  transition:var(--transition)
}
.about__card:hover h3{
  color: var(--color-primary);
}


.about__card small{
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p{
  margin: 2rem  0 2.6rem;
}

/* ************* MEDIUM DEVICES **************** */
@media screen and (max-width:1024px){
  .about__container{
    grid-template-columns: 1fr;
    gap:0;
  }

  .about_me{
    width:50%;
    margin:2rem auto 4rem;
  }

  .about__content p{
    margin: 1rem 0 1.5rem;
  }
}
  
/* ************* SMALL DEVICES **************** */
@media screen and (max-width: 600px){
  .about_me{
    width:65%;
    margin:0 auto 3rem;
  }
  
  .about__cards{
      grid-template-columns: 1fr 1fr;
      gap:1rem;
  }


  .about__content{
    text-align: center;
  }

  .about__content p{
    margin: 1.5rem 0;
  }

  .talk{
    margin: 0 auto;
  }
}

