@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* =================== GLOBAL VARIABLES =================== */
:root {
  /* background color */
  --bg-color: #1f1f38;
  /* background color for card elements */
  --bg-color-variant: #2c2c6c;
  /* main theme color */
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77,181,255,0.4) ;
  --color-white: #fff;
  --color-light: rgba(255,255,255,0.6);
  --transition:all 400ms ease ;
  
  /* gradient color */
  --bg-color-gradient:linear-gradient(225deg, #7a69af 0, #4a4474 25%, #1f1f38 50%, #000000 75%, #000000 100%);;


  /* render different width sizes for different screens */
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}


/* Global properties */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  /* list tags and anchor elements don't default to bullet points and underlines */
  list-style: none; 
  text-decoration: none;
}


html{
  scroll-behavior: smooth;
}

/* hides the scrollbar */
::-webkit-scrollbar {
  display: none;
}


body {
  margin: 0;
  line-height: 1.7;
  background-color: var(--bg-color);
  color: var(--color-white);
  /* height: 100vh; */
  /* background: rgb(227,255,231); */
  /* background-image: var(--bg-color-gradient); */

}


/* ******************* GENERAL STYLES **************** */
.container{
  margin: 0 auto;
  width: var(--container-width-lg); 
}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 2.5rem;
}

section{
  margin-top: 8rem;
}

section > h2, h5 {
  color: var(--color-light);
  text-align: center;
}

section > h2{
  margin-bottom: 3rem;
}

.text-light{
  color:var(--color-light);
}

/* Link properties */
a{
  color: var(--color-primary);
  transition: var(--transition-);
}

a:hover{
  color: var(--color-white);
}

/* button properties */
.btn{
  width:max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  transition: var(--transition-);
}


.btn:hover{
  background: var(--color-white);
  color: var(--bg-color);
  border-color: transparent;
}

.btn-primary{
  background: var(--color-primary);
  color: var(--bg-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}


/* ************************* MEDIA QUERIES ********************** */

/* ************* MEDIUM DEVICES **************** */
@media screen and (max-width:1024px){
  .container{
    width: var(--container-width-md);
  }
  section{
    margin-top: 6rem;
  }
}
  
/* ************* SMALL DEVICES **************** */
@media screen and (max-width: 600px){
  .container{
    width: var(--container-width-sm);
  }
  section{
    margin-bottom: 2rem;
  }
}
  
